@page "/"

<div class="container">
    <div class="logo-content logo-content-max-size">
        <NavLink href="/login">
            <img class="logo" width="180" src="../assets/icon-no-bg.png" alt="imc-logo">
        </NavLink>
    </div>
</div>
